# Data Processing

In this notebook the following tasks will be done:
- Exploratory analisis
- Question statement
- Data processing based on exploratory analisis and target questions

In [1]:
import polars as pl
import numpy as np
from PyPDF2 import PdfReader

In [2]:
raw_df: pl.DataFrame = pl.read_csv(
    "../data/raw/world-data-2023.csv", ignore_errors=True
)

# Fix some column names
raw_df = raw_df.rename({"Density\r\n(P/Km2)": "Density(P/Km2)"})
raw_df = raw_df.rename({"Agricultural Land( %)": "Agricultural Land(%)"})
raw_df = raw_df.rename({"Urban_population": "Urban population"})

# Remove rows that are completely empty
raw_df = raw_df.filter(
    ~pl.col("Country").is_in(["Palestinian National Authority", "Vatican City"])
)


pl.DataFrame(dict(zip(raw_df.columns, raw_df.dtypes)))

shape: (1, 35)
┌─────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ Country ┆ Density(P/ ┆ Abbreviati ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude ┆ Longitude │
│ ---     ┆ Km2)       ┆ on         ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---      ┆ ---       │
│ object  ┆ ---        ┆ ---        ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ object   ┆ object    │
│         ┆ object     ┆ object     ┆ ---       ┆   ┆ object    ┆ object    ┆          ┆           │
│         ┆            ┆            ┆ object    ┆   ┆           ┆           ┆          ┆           │
╞═════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ String  ┆ String     ┆ String     ┆ String    ┆ … ┆ String    ┆ String    ┆ Float64  ┆ Float64   │
└─────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

Visualize the original dataset

In [3]:
subset_df = raw_df.slice(150, 5)
subset_df

shape: (5, 35)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitud │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ e        │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---      │
│           ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆ f64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Senegal   ┆ 87        ┆ SN        ┆ 46.10%    ┆ … ┆ 6.60%     ┆ 7,765,706 ┆ 14.497401 ┆ -14.4523 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 62       │
│ Serbia    ┆ 100       ┆ RS        ┆ 39.30%    ┆ … ┆ 12.69%    ┆ 3,907,243 ┆ 44.016521 ┆ 21.00585 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 9        │
│ Seychelle ┆ 214       ┆ SC        ┆ 3.40%     ┆ … ┆ null      ┆ 55,762    ┆ -4.679574 ┆ 55.49197 │
│ s         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 7        │
│ Sierra    ┆ 111       ┆ SL        ┆ 54.70%    ┆ … ┆ 4.43%     ┆ 3,319,366 ┆ 8.460555  ┆ -11.7798 │
│ Leone     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 89       │
│ Singapore ┆ 8,358     ┆ SG        ┆ 0.90%     ┆ … ┆ 4.11%     ┆ 5,703,569 ┆ 1.352083  ┆ 103.8198 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 36       │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [4]:
subset_df2 = raw_df.slice(81, 5)
subset_df2

shape: (5, 35)
┌─────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Country ┆ Density(P/ ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitude │
│ ---     ┆ Km2)       ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ ---       │
│ str     ┆ ---        ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64       ┆ f64       │
│         ┆ str        ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆           │
│         ┆            ┆           ┆ str       ┆   ┆           ┆           ┆           ┆           │
╞═════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Israel  ┆ 400        ┆ IL        ┆ 24.60%    ┆ … ┆ 3.86%     ┆ 8,374,393 ┆ 31.046051 ┆ 34.851612 │
│ Italy   ┆ 206        ┆ IT        ┆ 43.20%    ┆ … ┆ 9.89%     ┆ 42,651,96 ┆ 41.87194  ┆ 12.56738  │
│         ┆            ┆           ┆           ┆   ┆           ┆ 6         ┆           ┆           │
│ Jamaica ┆ 273        ┆ JM        ┆ 41.00%    ┆ … ┆ 8.00%     ┆ 1,650,594 ┆ 18.109581 ┆ -77.29750 │
│         ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆ 8         │
│ Japan   ┆ 347        ┆ JP        ┆ 12.30%    ┆ … ┆ 2.29%     ┆ 115,782,4 ┆ 36.204824 ┆ 138.25292 │
│         ┆            ┆           ┆           ┆   ┆           ┆ 16        ┆           ┆ 4         │
│ Jordan  ┆ 115        ┆ JO        ┆ 12.00%    ┆ … ┆ 14.72%    ┆ 9,213,048 ┆ 30.585164 ┆ 36.238414 │
└─────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

Firstly, we are going to eliminate the columns that we consider unnecessary, given the notebook exploratory_analysis.ipynb

In [5]:
columns_to_drop = [
    "Calling Code",
    "Capital/Major City",
    "Largest City",
    "Official language",
    "Minimum wage currency",
    "CPI change",
]
columns_to_keep = [col for col in raw_df.columns if col not in columns_to_drop]
cleaned_df = raw_df.select(columns_to_keep)

Additionally, we must convert the columns to their corresponding type

In [6]:
# Columns that should be integers
int_columns = [
    "Density(P/Km2)",
    "Land Area(Km2)",
    "Armed Forces size",
    "Co2-Emissions",
    "Population",
    "Urban population",
]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all(",", "").cast(pl.Int64)
        for col in int_columns
    ]
)

# Currency columns that should be floats
float_columns_currency = ["Gasoline Price", "GDP", "Minimum wage"]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all(r"[\$,]", "").cast(pl.Float64)
        for col in float_columns_currency
    ]
)

# Percentage columns that should be floats
float_columns_percentage = [
    "Agricultural Land(%)",
    "CPI Change (%)",
    "Forested Area (%)",
    "Gross primary education enrollment (%)",
    "Gross tertiary education enrollment (%)",
    "Out of pocket health expenditure",
    "Population: Labor force participation (%)",
    "Tax revenue (%)",
    "Total tax rate",
    "Unemployment rate",
]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all("%", "").cast(pl.Float64)
        for col in float_columns_percentage
    ]
)

cleaned_df.head(10)

shape: (10, 32)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitud │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ e        │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---      │
│           ┆ i64       ┆ str       ┆ ---       ┆   ┆ f64       ┆ i64       ┆           ┆ f64      │
│           ┆           ┆           ┆ f64       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Afghanist ┆ 60        ┆ AF        ┆ 58.1      ┆ … ┆ 11.12     ┆ 9797273   ┆ 33.93911  ┆ 67.70995 │
│ an        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 3        │
│ Albania   ┆ 105       ┆ AL        ┆ 43.1      ┆ … ┆ 12.33     ┆ 1747593   ┆ 41.153332 ┆ 20.16833 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 1        │
│ Algeria   ┆ 18        ┆ DZ        ┆ 17.4      ┆ … ┆ 11.7      ┆ 31510100  ┆ 28.033886 ┆ 1.659626 │
│ Andorra   ┆ 164       ┆ AD        ┆ 40.0      ┆ … ┆ null      ┆ 67873     ┆ 42.506285 ┆ 1.521801 │
│ Angola    ┆ 26        ┆ AO        ┆ 47.5      ┆ … ┆ 6.89      ┆ 21061025  ┆ -11.20269 ┆ 17.87388 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 2         ┆ 7        │
│ Antigua   ┆ 223       ┆ AG        ┆ 20.5      ┆ … ┆ null      ┆ 23800     ┆ 17.060816 ┆ -61.7964 │
│ and       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 28       │
│ Barbuda   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Argentina ┆ 17        ┆ AR        ┆ 54.3      ┆ … ┆ 9.79      ┆ 41339571  ┆ -38.41609 ┆ -63.6166 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 7         ┆ 72       │
│ Armenia   ┆ 104       ┆ AM        ┆ 58.9      ┆ … ┆ 16.99     ┆ 1869848   ┆ 40.069099 ┆ 45.03818 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 9        │
│ Australia ┆ 3         ┆ AU        ┆ 48.2      ┆ … ┆ 5.27      ┆ 21844756  ┆ -25.27439 ┆ 133.7751 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 8         ┆ 36       │
│ Austria   ┆ 109       ┆ AT        ┆ 32.4      ┆ … ┆ 4.67      ┆ 5194416   ┆ 47.516231 ┆ 14.55007 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 2        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

From this point, we begin to correct and fill the cells of the dataset

In [7]:
# Replace the cell with the symbol with its corresponding country
cleaned_df = cleaned_df.with_columns(
    pl.when(pl.col("Country").str.contains("�"))
    .then(pl.lit("Sao Tome and Principe"))
    .otherwise(pl.col("Country"))
    .alias("Country")
)

# Get the correct ISO code abbreviations for each country
isoCodes = PdfReader("../data/raw/CountryCodesISO2.pdf")
text = []
for page in isoCodes.pages:
    page_text = page.extract_text()
    lines = page_text.splitlines()
    # Skip any empty lines and the 'Country Codes ISO2' title
    filtered_lines = [
        line for line in lines if line.strip() and "Country Codes ISO2" not in line
    ]
    text.extend(filtered_lines)

country_code = {}
for line in text:
    parts = line.strip().split(maxsplit=1)
    if len(parts) == 2 and len(parts[0]) == 2 and parts[0].isalpha():
        code, country = parts
        country_code[country.split(" (")[0]] = code.upper()


def get_country_code(country):
    return country_code.get(country)


# Create a new corrected column
cleaned_df = cleaned_df.with_columns(
    pl.when((pl.col("Abbreviation").is_null()) | (pl.col("Abbreviation") == ""))
    .then(pl.col("Country").map_elements(get_country_code, return_dtype=pl.Utf8))
    .otherwise(pl.col("Abbreviation"))
    .alias("Abbreviation")
)

Verify that the changes have been made correctly

In [8]:
symbol_country = (
    cleaned_df.filter(pl.col("Country") == "Sao Tome and Principe")
    .select("Abbreviation")
    .item()
)
symbol_country

'ST'

In [9]:
country_row = cleaned_df.filter(pl.col("Country") == "Republic of Ireland")
country_row

shape: (1, 32)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude ┆ Longitude │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---      ┆ ---       │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64      ┆ f64       │
│           ┆ i64       ┆ str       ┆ ---       ┆   ┆ f64       ┆ i64       ┆          ┆           │
│           ┆           ┆           ┆ f64       ┆   ┆           ┆           ┆          ┆           │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ Republic  ┆ 72        ┆ IE        ┆ 64.5      ┆ … ┆ 4.93      ┆ 3133123   ┆ 53.41291 ┆ -8.24389  │
│ of        ┆           ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│ Ireland   ┆           ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

We're going to update Forest Area (%) by using the information of forest_area_analysis.ipynb:

In [10]:
ls_countries = [
    "Eswatini",
    "North Macedonia",
    "South Sudan",
    "Vatican City",
    "Monaco",
    "Nauru",
    "Palestinian National Authority",
]
ls_values = [29.1, 39.7, 11.3, 0.0, 0.0, 0.0, 1.7]

for i in range(0, len(ls_countries)):
    cleaned_df = cleaned_df.with_columns(
        pl.when(pl.col("Country") == ls_countries[i])
        .then(ls_values[i])
        .otherwise(pl.col("Forested Area (%)"))
        .alias("Forested Area (%)")
    )

cleaned_df[161:163].select(["Country", "Forested Area (%)"])

shape: (2, 2)
┌─────────────┬───────────────────┐
│ Country     ┆ Forested Area (%) │
│ ---         ┆ ---               │
│ str         ┆ f64               │
╞═════════════╪═══════════════════╡
│ South Sudan ┆ 11.3              │
│ Spain       ┆ 36.9              │
└─────────────┴───────────────────┘

Now, we're going to update Life expectancy column by using Kaggle's Global Life Expectancy dataset: (https://www.kaggle.com/datasets/nafayunnoor/global-life-expectancy-data-1950-2023?select=Preprocessed_Life_Expectancy.csv)

In [11]:
null_values = cleaned_df.filter(
    cleaned_df["Life expectancy"].is_null() | cleaned_df["Life expectancy"].is_nan()
)

null_values.select(["Country", "Life expectancy"])

shape: (6, 2)
┌─────────────────┬─────────────────┐
│ Country         ┆ Life expectancy │
│ ---             ┆ ---             │
│ str             ┆ f64             │
╞═════════════════╪═════════════════╡
│ Andorra         ┆ null            │
│ Eswatini        ┆ null            │
│ Monaco          ┆ null            │
│ Nauru           ┆ null            │
│ North Macedonia ┆ null            │
│ Tuvalu          ┆ null            │
└─────────────────┴─────────────────┘

In [12]:
ls_countries = ["Andorra", "Eswatini", "Monaco", "Nauru", "North Macedonia", "Tuvalu"]
ls_values = [84.04, 64.12, 86.37, 63.10, 77.39, 67.10]

for i in range(0, len(ls_countries)):
    cleaned_df = cleaned_df.with_columns(
        pl.when(pl.col("Country") == ls_countries[i])
        .then(ls_values[i])
        .otherwise(pl.col("Life expectancy"))
        .alias("Life expectancy")
    )

Filter countries where latitude or longitude is null or empty

In [13]:
null_values = cleaned_df.filter(
    cleaned_df["Latitude"].is_null()
    | cleaned_df["Latitude"].is_nan()
    | cleaned_df["Longitude"].is_null()
    | cleaned_df["Longitude"].is_nan()
)

null_values.select(["Country", "Latitude", "Longitude"])

shape: (1, 3)
┌───────────────────────┬──────────┬───────────┐
│ Country               ┆ Latitude ┆ Longitude │
│ ---                   ┆ ---      ┆ ---       │
│ str                   ┆ f64      ┆ f64       │
╞═══════════════════════╪══════════╪═══════════╡
│ Sao Tome and Principe ┆ null     ┆ null      │
└───────────────────────┴──────────┴───────────┘

To update this column, we're going to check the values using the following website: https://www.latlong.net/place/s-o-tom-and-pr-ncipe-island-25177.html

In [14]:
cleaned_df = cleaned_df.with_columns(
    pl.when(pl.col("Country") == "Sao Tome and Principe")
    .then(0.255436)
    .otherwise(pl.col("Latitude"))
    .alias("Latitude")
)

cleaned_df = cleaned_df.with_columns(
    pl.when(pl.col("Country") == "Sao Tome and Principe")
    .then(6.602781)
    .otherwise(pl.col("Longitude"))
    .alias("Longitude")
)

Let's fill Co2-Emissions column:

In [15]:
null_values = cleaned_df.filter(
    cleaned_df["Co2-Emissions"].is_null() | cleaned_df["Co2-Emissions"].is_nan()
)

null_values.select(["Country", "Co2-Emissions"])

shape: (5, 2)
┌─────────────────┬───────────────┐
│ Country         ┆ Co2-Emissions │
│ ---             ┆ ---           │
│ str             ┆ i64           │
╞═════════════════╪═══════════════╡
│ Eswatini        ┆ null          │
│ Monaco          ┆ null          │
│ Nauru           ┆ null          │
│ North Macedonia ┆ null          │
│ San Marino      ┆ null          │
└─────────────────┴───────────────┘

Now, we are going to display the number of missing values in each column.

In [16]:
missing_values = cleaned_df.select(
    [
        pl.col(col).is_null().sum().alias(f"{col} missing values")
        for col in cleaned_df.columns
    ]
)
missing_values

shape: (1, 32)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitud │
│ missing   ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ missing   ┆ e        │
│ values    ┆ missing   ┆ missing   ┆ Land(%)   ┆   ┆ missing   ┆ missing   ┆ values    ┆ missing  │
│ ---       ┆ values    ┆ values    ┆ missing   ┆   ┆ valu…     ┆ value…    ┆ ---       ┆ values   │
│ u32       ┆ ---       ┆ ---       ┆ v…        ┆   ┆ ---       ┆ ---       ┆ u32       ┆ ---      │
│           ┆ u32       ┆ u32       ┆ ---       ┆   ┆ u32       ┆ u32       ┆           ┆ u32      │
│           ┆           ┆           ┆ u32       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ 0         ┆ 0         ┆ 5         ┆ … ┆ 17        ┆ 3         ┆ 0         ┆ 0        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Finally, we are going to save the processed dataset in a new file, in order to use it in the next notebooks.

In [17]:
cleaned_df.write_csv("../data/cleaned/data.csv")