# Data Processing

In this notebook the following tasks will be done:
- Exploratory analisis
- Question statement
- Data processing based on exploratory analisis and target questions

In [1]:
import polars as pl
import numpy as np
from PyPDF2 import PdfReader

In [2]:
raw_df: pl.DataFrame = pl.read_csv(
    "../data/raw/world-data-2023.csv", ignore_errors=True
)

# Fix some column names
raw_df = raw_df.rename({"Density\r\n(P/Km2)": "Density(P/Km2)"})
raw_df = raw_df.rename({"Agricultural Land( %)": "Agricultural Land(%)"})
raw_df = raw_df.rename({"Urban_population": "Urban population"})

pl.DataFrame(dict(zip(raw_df.columns, raw_df.dtypes)))

shape: (1, 35)
┌─────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ Country ┆ Density(P/ ┆ Abbreviati ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude ┆ Longitude │
│ ---     ┆ Km2)       ┆ on         ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---      ┆ ---       │
│ object  ┆ ---        ┆ ---        ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ object   ┆ object    │
│         ┆ object     ┆ object     ┆ ---       ┆   ┆ object    ┆ object    ┆          ┆           │
│         ┆            ┆            ┆ object    ┆   ┆           ┆           ┆          ┆           │
╞═════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ String  ┆ String     ┆ String     ┆ String    ┆ … ┆ String    ┆ String    ┆ Float64  ┆ Float64   │
└─────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

Visualize the original dataset

In [3]:
subset_df = raw_df.slice(150, 5)
subset_df

shape: (5, 35)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitud │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ e        │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---      │
│           ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆ f64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ S�������� ┆ 228       ┆ ST        ┆ 50.70%    ┆ … ┆ 13.37%    ┆ 158,277   ┆ null      ┆ null     │
│ ���       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Saudi     ┆ 16        ┆ SA        ┆ 80.80%    ┆ … ┆ 5.93%     ┆ 28,807,83 ┆ 23.885942 ┆ 45.07916 │
│ Arabia    ┆           ┆           ┆           ┆   ┆           ┆ 8         ┆           ┆ 2        │
│ Senegal   ┆ 87        ┆ SN        ┆ 46.10%    ┆ … ┆ 6.60%     ┆ 7,765,706 ┆ 14.497401 ┆ -14.4523 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 62       │
│ Serbia    ┆ 100       ┆ RS        ┆ 39.30%    ┆ … ┆ 12.69%    ┆ 3,907,243 ┆ 44.016521 ┆ 21.00585 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 9        │
│ Seychelle ┆ 214       ┆ SC        ┆ 3.40%     ┆ … ┆ null      ┆ 55,762    ┆ -4.679574 ┆ 55.49197 │
│ s         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 7        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [4]:
subset_df2 = raw_df.slice(81, 5)
subset_df2

shape: (5, 35)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban pop ┆ Latitude  ┆ Longitud │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ e        │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---      │
│           ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆ f64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Republic  ┆ 72        ┆ null      ┆ 64.50%    ┆ … ┆ 4.93%     ┆ 3,133,123 ┆ 53.41291  ┆ -8.24389 │
│ of        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Ireland   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Israel    ┆ 400       ┆ IL        ┆ 24.60%    ┆ … ┆ 3.86%     ┆ 8,374,393 ┆ 31.046051 ┆ 34.85161 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 2        │
│ Italy     ┆ 206       ┆ IT        ┆ 43.20%    ┆ … ┆ 9.89%     ┆ 42,651,96 ┆ 41.87194  ┆ 12.56738 │
│           ┆           ┆           ┆           ┆   ┆           ┆ 6         ┆           ┆          │
│ Jamaica   ┆ 273       ┆ JM        ┆ 41.00%    ┆ … ┆ 8.00%     ┆ 1,650,594 ┆ 18.109581 ┆ -77.2975 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 08       │
│ Japan     ┆ 347       ┆ JP        ┆ 12.30%    ┆ … ┆ 2.29%     ┆ 115,782,4 ┆ 36.204824 ┆ 138.2529 │
│           ┆           ┆           ┆           ┆   ┆           ┆ 16        ┆           ┆ 24       │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Firstly, we are going to eliminate the columns that we consider unnecessary, given the notebook exploratory_analysis.ipynb

In [5]:
columns_to_drop = [
    "Calling Code",
    "Capital/Major City",
    "Largest City",
    "Official language",
    "Minimum wage currency",
    "Latitude",
    "Longitude",
    "CPI change",
]
columns_to_keep = [col for col in raw_df.columns if col not in columns_to_drop]
cleaned_df = raw_df.select(columns_to_keep)

Additionally, we must convert the columns to their corresponding type

In [6]:
# Columns that should be integers
int_columns = [
    "Density(P/Km2)",
    "Land Area(Km2)",
    "Armed Forces size",
    "Co2-Emissions",
    "Population",
    "Urban population",
]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all(",", "").cast(pl.Int64)
        for col in int_columns
    ]
)

# Currency columns that should be floats
float_columns_currency = ["Gasoline Price", "GDP", "Minimum wage"]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all(r"[\$,]", "").cast(pl.Float64)
        for col in float_columns_currency
    ]
)

# Percentage columns that should be floats
float_columns_percentage = [
    "Agricultural Land(%)",
    "CPI Change (%)",
    "Forested Area (%)",
    "Gross primary education enrollment (%)",
    "Gross tertiary education enrollment (%)",
    "Out of pocket health expenditure",
    "Population: Labor force participation (%)",
    "Tax revenue (%)",
    "Total tax rate",
    "Unemployment rate",
]
cleaned_df = cleaned_df.with_columns(
    [
        pl.col(col).str.strip_chars().str.replace_all("%", "").cast(pl.Float64)
        for col in float_columns_percentage
    ]
)

cleaned_df.head(10)

shape: (10, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban    │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ populati │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ (%)       ┆ ---       ┆ ---       ┆ on       │
│           ┆ i64       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│           ┆           ┆           ┆ f64       ┆   ┆ f64       ┆           ┆           ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Afghanist ┆ 60        ┆ AF        ┆ 58.1      ┆ … ┆ 9.3       ┆ 71.4      ┆ 11.12     ┆ 9797273  │
│ an        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Albania   ┆ 105       ┆ AL        ┆ 43.1      ┆ … ┆ 18.6      ┆ 36.6      ┆ 12.33     ┆ 1747593  │
│ Algeria   ┆ 18        ┆ DZ        ┆ 17.4      ┆ … ┆ 37.2      ┆ 66.1      ┆ 11.7      ┆ 31510100 │
│ Andorra   ┆ 164       ┆ AD        ┆ 40.0      ┆ … ┆ null      ┆ null      ┆ null      ┆ 67873    │
│ Angola    ┆ 26        ┆ AO        ┆ 47.5      ┆ … ┆ 9.2       ┆ 49.1      ┆ 6.89      ┆ 21061025 │
│ Antigua   ┆ 223       ┆ AG        ┆ 20.5      ┆ … ┆ 16.5      ┆ 43.0      ┆ null      ┆ 23800    │
│ and       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Barbuda   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Argentina ┆ 17        ┆ AR        ┆ 54.3      ┆ … ┆ 10.1      ┆ 106.3     ┆ 9.79      ┆ 41339571 │
│ Armenia   ┆ 104       ┆ AM        ┆ 58.9      ┆ … ┆ 20.9      ┆ 22.6      ┆ 16.99     ┆ 1869848  │
│ Australia ┆ 3         ┆ AU        ┆ 48.2      ┆ … ┆ 23.0      ┆ 47.4      ┆ 5.27      ┆ 21844756 │
│ Austria   ┆ 109       ┆ AT        ┆ 32.4      ┆ … ┆ 25.4      ┆ 51.4      ┆ 4.67      ┆ 5194416  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

From this point, we begin to correct and fill the cells of the dataset

In [7]:
# Replace the cell with the symbol with its corresponding country
cleaned_df = cleaned_df.with_columns(
    pl.when(pl.col("Country").str.contains("�"))
    .then(pl.lit("São Tomé and Principe"))
    .otherwise(pl.col("Country"))
    .alias("Country")
)

# Get the correct ISO code abbreviations for each country
isoCodes = PdfReader("../data/raw/CountryCodesISO2.pdf")
text = []
for page in isoCodes.pages:
    page_text = page.extract_text()
    lines = page_text.splitlines()
    # Skip any empty lines and the 'Country Codes ISO2' title
    filtered_lines = [
        line for line in lines if line.strip() and "Country Codes ISO2" not in line
    ]
    text.extend(filtered_lines)

country_code = {}
for line in text:
    parts = line.strip().split(maxsplit=1)
    if len(parts) == 2 and len(parts[0]) == 2 and parts[0].isalpha():
        code, country = parts
        country_code[country.split(" (")[0]] = code.upper()


def get_country_code(country):
    return country_code.get(country)


# Create a new corrected column
cleaned_df = cleaned_df.with_columns(
    pl.when((pl.col("Abbreviation").is_null()) | (pl.col("Abbreviation") == ""))
    .then(pl.col("Country").map_elements(get_country_code, return_dtype=pl.Utf8))
    .otherwise(pl.col("Abbreviation"))
    .alias("Abbreviation")
)

Verify that the changes have been made correctly

In [8]:
symbol_country = (
    cleaned_df.filter(pl.col("Country") == "São Tomé and Principe")
    .select("Abbreviation")
    .item()
)
symbol_country

'ST'

In [9]:
country_row = cleaned_df.filter(pl.col("Country") == "Republic of Ireland")
country_row

shape: (1, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban    │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ populati │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ (%)       ┆ ---       ┆ ---       ┆ on       │
│           ┆ i64       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│           ┆           ┆           ┆ f64       ┆   ┆ f64       ┆           ┆           ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Republic  ┆ 72        ┆ IE        ┆ 64.5      ┆ … ┆ 18.3      ┆ 26.1      ┆ 4.93      ┆ 3133123  │
│ of        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Ireland   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

We're going to update Forest Area (%) by using the information of forest_area_analysis.ipynb:

In [10]:
ls_countries = [
    "Eswatini",
    "North Macedonia",
    "South Sudan",
    "Vatican City",
    "Monaco",
    "Nauru",
    "Palestinian National Authority",
]
ls_values = [29.1, 39.7, 11.3, 0.0, 0.0, 0.0, 1.7]

forested_column = [col for col in cleaned_df.columns if "Forested" in col]

for i in range(0, len(ls_countries)):
    cleaned_df = cleaned_df.with_columns(
        pl.when(pl.col("Country") == ls_countries[i])
        .then(ls_values[i])
        .otherwise(pl.col(forested_column))
        .alias("Forested Area (%)")
    )

cleaned_df[163:165].select(["Country", "Forested Area (%)"])

shape: (2, 2)
┌─────────────┬───────────────────┐
│ Country     ┆ Forested Area (%) │
│ ---         ┆ ---               │
│ str         ┆ f64               │
╞═════════════╪═══════════════════╡
│ South Sudan ┆ 11.3              │
│ Spain       ┆ 36.9              │
└─────────────┴───────────────────┘

Now, we are going to display the number of missing values in each column.

In [11]:
missing_values = cleaned_df.select(
    [
        pl.col(col).is_null().sum().alias(f"{col} missing values")
        for col in cleaned_df.columns
    ]
)
missing_values

shape: (1, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban    │
│ missing   ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ populati │
│ values    ┆ missing   ┆ missing   ┆ Land(%)   ┆   ┆ (%)       ┆ missing   ┆ missing   ┆ on       │
│ ---       ┆ values    ┆ values    ┆ missing   ┆   ┆ missing   ┆ values    ┆ valu…     ┆ missing  │
│ u32       ┆ ---       ┆ ---       ┆ v…        ┆   ┆ values    ┆ ---       ┆ ---       ┆ value…   │
│           ┆ u32       ┆ u32       ┆ ---       ┆   ┆ ---       ┆ u32       ┆ u32       ┆ ---      │
│           ┆           ┆           ┆ u32       ┆   ┆ u32       ┆           ┆           ┆ u32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ 0         ┆ 0         ┆ 7         ┆ … ┆ 26        ┆ 12        ┆ 19        ┆ 5        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘