# Data Processing

In this notebook the following tasks will be done:
- Exploratory analisis
- Question statement
- Data processing based on exploratory analisis and target questions

In [1]:
import polars as pl
import numpy as np
from PyPDF2 import PdfReader

In [2]:
raw_df: pl.DataFrame = pl.read_csv(
    "../data/raw/world-data-2023.csv", ignore_errors=True
)

pl.DataFrame(dict(zip(raw_df.columns, raw_df.dtypes)))

shape: (1, 35)
┌─────────┬──────────┬────────────┬────────────┬───┬────────────┬───────────┬──────────┬───────────┐
│ Country ┆ Density
 ┆ Abbreviati ┆ Agricultur ┆ … ┆ Unemployme ┆ Urban_pop ┆ Latitude ┆ Longitude │
│ ---     ┆ (P/Km2)  ┆ on         ┆ al Land(   ┆   ┆ nt rate    ┆ ulation   ┆ ---      ┆ ---       │
│ object  ┆ ---      ┆ ---        ┆ %)         ┆   ┆ ---        ┆ ---       ┆ object   ┆ object    │
│         ┆ object   ┆ object     ┆ ---        ┆   ┆ object     ┆ object    ┆          ┆           │
│         ┆          ┆            ┆ object     ┆   ┆            ┆           ┆          ┆           │
╞═════════╪══════════╪════════════╪════════════╪═══╪════════════╪═══════════╪══════════╪═══════════╡
│ String  ┆ String   ┆ String     ┆ String     ┆ … ┆ String     ┆ String    ┆ Float64  ┆ Float64   │
└─────────┴──────────┴────────────┴────────────┴───┴────────────┴───────────┴──────────┴───────────┘

Visualize the original dataset

In [3]:
subset_df = raw_df.slice(150, 5)
subset_df

shape: (5, 35)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Country   ┆ Density
 ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban_pop ┆ Latitude  ┆ Longitude │
│ ---       ┆ (P/Km2)  ┆ ion       ┆ ral Land( ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ ---       │
│ str       ┆ ---      ┆ ---       ┆ %)        ┆   ┆ ---       ┆ ---       ┆ f64       ┆ f64       │
│           ┆ str      ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆           │
│           ┆          ┆           ┆ str       ┆   ┆           ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ S�������� ┆ 228      ┆ ST        ┆ 50.70%    ┆ … ┆ 13.37%    ┆ 158,277   ┆ null      ┆ null      │
│ ���       ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Saudi     ┆ 16       ┆ SA        ┆ 80.80%    ┆ … ┆ 5.93%     ┆ 28,807,83 ┆ 23.885942 ┆ 45.079162 │
│ Arabia    ┆          ┆           ┆           ┆   ┆           ┆ 8         ┆           ┆           │
│ Senegal   ┆ 87       ┆ SN        ┆ 46.10%    ┆ … ┆ 6.60%     ┆ 7,765,706 ┆ 14.497401 ┆ -14.45236 │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆ 2         │
│ Serbia    ┆ 100      ┆ RS        ┆ 39.30%    ┆ … ┆ 12.69%    ┆ 3,907,243 ┆ 44.016521 ┆ 21.005859 │
│ Seychelle ┆ 214      ┆ SC        ┆ 3.40%     ┆ … ┆ null      ┆ 55,762    ┆ -4.679574 ┆ 55.491977 │
│ s         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [4]:
subset_df2 = raw_df.slice(81, 5)
subset_df2

shape: (5, 35)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Country   ┆ Density
 ┆ Abbreviat ┆ Agricultu ┆ … ┆ Unemploym ┆ Urban_pop ┆ Latitude  ┆ Longitude │
│ ---       ┆ (P/Km2)  ┆ ion       ┆ ral Land( ┆   ┆ ent rate  ┆ ulation   ┆ ---       ┆ ---       │
│ str       ┆ ---      ┆ ---       ┆ %)        ┆   ┆ ---       ┆ ---       ┆ f64       ┆ f64       │
│           ┆ str      ┆ str       ┆ ---       ┆   ┆ str       ┆ str       ┆           ┆           │
│           ┆          ┆           ┆ str       ┆   ┆           ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Republic  ┆ 72       ┆ null      ┆ 64.50%    ┆ … ┆ 4.93%     ┆ 3,133,123 ┆ 53.41291  ┆ -8.24389  │
│ of        ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Ireland   ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Israel    ┆ 400      ┆ IL        ┆ 24.60%    ┆ … ┆ 3.86%     ┆ 8,374,393 ┆ 31.046051 ┆ 34.851612 │
│ Italy     ┆ 206      ┆ IT        ┆ 43.20%    ┆ … ┆ 9.89%     ┆ 42,651,96 ┆ 41.87194  ┆ 12.56738  │
│           ┆          ┆           ┆           ┆   ┆           ┆ 6         ┆           ┆           │
│ Jamaica   ┆ 273      ┆ JM        ┆ 41.00%    ┆ … ┆ 8.00%     ┆ 1,650,594 ┆ 18.109581 ┆ -77.29750 │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆ 8         │
│ Japan     ┆ 347      ┆ JP        ┆ 12.30%    ┆ … ┆ 2.29%     ┆ 115,782,4 ┆ 36.204824 ┆ 138.25292 │
│           ┆          ┆           ┆           ┆   ┆           ┆ 16        ┆           ┆ 4         │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

Firstly, we are going to eliminate the columns that we consider unnecessary, given the notebook exploratory_analysis.ipynb

In [5]:
columns_to_drop = [
    "Calling Code",
    "Capital/Major City",
    "Largest City",
    "Official language",
    "Minimum wage currency",
    "Latitude",
    "Longitude",
    "CPI change",
]
columns_to_keep = [col for col in raw_df.columns if col not in columns_to_drop]
cleaned_df = raw_df.select(columns_to_keep)

# Replace the cell with the symbol with its corresponding country
cleaned_df = cleaned_df.with_columns(
    pl.when(pl.col("Country").str.contains("�"))
    .then(pl.lit("São Tomé and Principe"))
    .otherwise(pl.col("Country"))
    .alias("Country")
)

# Get the correct ISO code abbreviations for each country
isoCodes = PdfReader("../data/raw/CountryCodesISO2.pdf")
text = []
for page in isoCodes.pages:
    page_text = page.extract_text()
    lines = page_text.splitlines()
    # Skip any empty lines and the 'Country Codes ISO2' title
    filtered_lines = [
        line for line in lines if line.strip() and "Country Codes ISO2" not in line
    ]
    text.extend(filtered_lines)

country_code = {}
for line in text:
    parts = line.strip().split(maxsplit=1)
    if len(parts) == 2 and len(parts[0]) == 2 and parts[0].isalpha():
        code, country = parts
        country_code[country.split(" (")[0]] = code.upper()


def get_country_code(country):
    return country_code.get(country)


# Create a new corrected column
cleaned_df = cleaned_df.with_columns(
    pl.when((pl.col("Abbreviation").is_null()) | (pl.col("Abbreviation") == ""))
    .then(pl.col("Country").map_elements(get_country_code, return_dtype=pl.Utf8))
    .otherwise(pl.col("Abbreviation"))
    .alias("Abbreviation")
)

Verify that the changes have been made correctly

In [6]:
symbol_country = (
    cleaned_df.filter(pl.col("Country") == "São Tomé and Principe")
    .select("Abbreviation")
    .item()
)
symbol_country

ST

In [7]:
country_row = cleaned_df.filter(pl.col("Country") == "Republic of Ireland")
country_row

shape: (1, 30)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Country   ┆ Density
 ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban_pop │
│ ---       ┆ (P/Km2)  ┆ ion       ┆ ral Land( ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ ulation   │
│ str       ┆ ---      ┆ ---       ┆ %)        ┆   ┆ (%)       ┆ ---       ┆ ---       ┆ ---       │
│           ┆ str      ┆ str       ┆ ---       ┆   ┆ ---       ┆ str       ┆ str       ┆ str       │
│           ┆          ┆           ┆ str       ┆   ┆ str       ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Republic  ┆ 72       ┆ IE        ┆ 64.50%    ┆ … ┆ 18.30%    ┆ 26.10%    ┆ 4.93%     ┆ 3,133,123 │
│ of        ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Ireland   ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [8]:
missing_values = cleaned_df.select(
    [
        pl.col(col).is_null().sum().alias(f"{col} missing values")
        for col in cleaned_df.columns
    ]
)
missing_values

shape: (1, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density
  ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban_po │
│ missing   ┆ (P/Km2)   ┆ ion       ┆ ral Land( ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ pulation │
│ values    ┆ missing   ┆ missing   ┆ %)        ┆   ┆ (%)       ┆ missing   ┆ missing   ┆ missing  │
│ ---       ┆ value…    ┆ values    ┆ missing … ┆   ┆ missing   ┆ values    ┆ valu…     ┆ value…   │
│ u32       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ values    ┆ ---       ┆ ---       ┆ ---      │
│           ┆ u32       ┆ u32       ┆ u32       ┆   ┆ ---       ┆ u32       ┆ u32       ┆ u32      │
│           ┆           ┆           ┆           ┆   ┆ u32       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ 0         ┆ 0         ┆ 7         ┆ … ┆ 26        ┆ 12        ┆ 19        ┆ 5        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘