# What factors influence the technological innovation of countries?

Import libraries.

In [1]:
import polars as pl

Load the processed data.

In [ ]:
data: pl.DataFrame = pl.read_csv("../data/cleaned/data.csv")

# Get the first 5 rows
data.head()

(195, 30)

shape: (5, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Country   ┆ Density(P ┆ Abbreviat ┆ Agricultu ┆ … ┆ Tax       ┆ Total tax ┆ Unemploym ┆ Urban    │
│ ---       ┆ /Km2)     ┆ ion       ┆ ral       ┆   ┆ revenue   ┆ rate      ┆ ent rate  ┆ populati │
│ str       ┆ ---       ┆ ---       ┆ Land(%)   ┆   ┆ (%)       ┆ ---       ┆ ---       ┆ on       │
│           ┆ i64       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│           ┆           ┆           ┆ f64       ┆   ┆ f64       ┆           ┆           ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Afghanist ┆ 60        ┆ AF        ┆ 58.1      ┆ … ┆ 9.3       ┆ 71.4      ┆ 11.12     ┆ 9797273  │
│ an        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Albania   ┆ 105       ┆ AL        ┆ 43.1      ┆ … ┆ 18.6      ┆ 36.6      ┆ 12.33     ┆ 1747593  │
│ Algeria   ┆ 18        ┆ DZ        ┆ 17.4      ┆ … ┆ 37.2      ┆ 66.1      ┆ 11.7      ┆ 31510100 │
│ Andorra   ┆ 164       ┆ AD        ┆ 40.0      ┆ … ┆ null      ┆ null      ┆ null      ┆ 67873    │
│ Angola    ┆ 26        ┆ AO        ┆ 47.5      ┆ … ┆ 9.2       ┆ 49.1      ┆ 6.89      ┆ 21061025 │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Load technology innovation data:

- Scientific and technical journal articles.
- High-technology exports (current US$).
- High-technology exports (% of manufactured exports).

In [20]:
journal_articles: pl.DataFrame = pl.read_csv(
    "../data/raw/technological_innovation/journal_articles.csv"
)
exports_values: pl.DataFrame = pl.read_csv(
    "../data/raw/technological_innovation/exports_values.csv"
)
exports_percentages: pl.DataFrame = pl.read_csv(
    "../data/raw/technological_innovation/exports_percentages.csv"
)

# Select the columns that we need
journal_articles = journal_articles.select(["Country Name", "2022 [YR2022]"])
exports_values = exports_values.select(["Country Name", "2022 [YR2022]"])
exports_percentages = exports_percentages.select(["Country Name", "2022 [YR2022]"])

# Rename the columns
journal_articles = journal_articles.rename(
    {"Country Name": "Country", "2022 [YR2022]": "Tech journal articles"}
)
exports_values = exports_values.rename(
    {"Country Name": "Country", "2022 [YR2022]": "High-technology exports ($)"}
)
exports_percentages = exports_percentages.rename(
    {"Country Name": "Country", "2022 [YR2022]": "High-technology exports (%)"}
)

# Join the dataframes
technology_innovation = journal_articles.join(exports_values, on="Country")
technology_innovation = technology_innovation.join(exports_percentages, on="Country")

# Change ".." values to None
technology_innovation = technology_innovation.select(pl.all().replace("..", None))

# Change from string to float/integer and round to 2 decimal places
technology_innovation = technology_innovation.with_columns(
    pl.col("Tech journal articles").cast(pl.Float64).round(2),
    pl.col("High-technology exports ($)").cast(pl.Int64()),
    pl.col("High-technology exports (%)").cast(pl.Float64).round(2),
)

# Get the first 5 rows
technology_innovation.head()

shape: (5, 4)
┌────────────────┬───────────────────────┬─────────────────────────┬───────────────────────────────┐
│ Country        ┆ Tech journal articles ┆ High-technology exports ┆ High-technology exports (%)   │
│ ---            ┆ ---                   ┆ ($)                     ┆ ---                           │
│ str            ┆ f64                   ┆ ---                     ┆ f64                           │
│                ┆                       ┆ i64                     ┆                               │
╞════════════════╪═══════════════════════╪═════════════════════════╪═══════════════════════════════╡
│ Afghanistan    ┆ 169.19                ┆ null                    ┆ null                          │
│ Albania        ┆ 238.59                ┆ 886411                  ┆ 0.06                          │
│ Algeria        ┆ 7606.65               ┆ null                    ┆ null                          │
│ American Samoa ┆ null                  ┆ null                    ┆ null                          │
│ Andorra        ┆ 9.6                   ┆ 49533520                ┆ 13.31                         │
└────────────────┴───────────────────────┴─────────────────────────┴───────────────────────────────┘

Join the original data with the technology innovation data.

In [27]:
# Show sizes
print("Data size:", data.shape)
print("Technology innovation size:", technology_innovation.shape)

# Left join the dataframes
data = data.join(technology_innovation, on="Country", how="left")

# Show size
print("Data size:", data.shape)

# Filter out rows with missing values in the column "Tech journal articles"
null = data.filter(pl.col("Tech journal articles").is_null())

# Write null values to a csv file
null.write_csv("../data/null_values.csv")

Data size: (195, 45)
Technology innovation size: (219, 4)
Data size: (195, 48)